<h2><%= @user.name %>'s Posts:</h2>
<ul>
    <% @user.posts.each do |post| %>
<!-- go to post_info -->
<% if post.user %><%= link_to(post.user_name, user_path(post.user)) %><% end %><br/>

    <%= link_to(post.content, post_path(post)) %>
<% if post.image %><%= link_to(image_tag(post.image), post_path(post)) %><% end %>
<% if post.emoticon %><%= post.emoticon_image %><% end %>
<!-- <% if post.user %><%= link_to(post.user.name, user_path(post.user)) %><% end %> -->
</li>
    <% end %>
</ul>

<nav aria-label="post display pages">
  <ul class="pagination justify-content-center" style="margin:20px 0">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>