<h1><%= "##{@hashtag.name}" %></h1>

<ul>
<% @hashtag.posts.each do |post| %>
<!-- Wouldn't let any post be created wihtout content -->
<!-- post info was here-->
<h3><%= link_to(post.content, post_path(post)) %></h3>

<% unless post.image ==  nil %><%= post.image %><% end %>
<li><% if post.emoticon %><%= post.emoticon.image %><% end %></li>
<li><% if post.user %><%= link_to(post.user.name, user_path(post.user)) %><% end %></li>


<% end %>
</ul>
 

