<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |e| %>
            <li style="color: red"><%= e %>%</li>
        <% end %>
    </ul>
    <% end %>
<h1>Create New Post</h1>

<%= form_for @post do |f| %>
    <%= f.label :content %> 
    <%= f.text_area :content, placeholder: 'Minimum 250 characters, and includes "because", "reason", or "why", or has a ?' %>
<br>

    <%= f.label :emoticon %>
    <%= f.collection_select :emoticon_id, @emoticons, :id, :image %>
 
<br/>
    <%= f.label :image %>
    <%= f.file_field :image %>
<br>

    <%= f.label :hashtag %> 
    <%= f.text_area :hashtag, placeholder: "Must start with #" %>

<br/>
    <input type="hidden" name="post[user_id]" value="<%= @user.id %>">
    <%= f.submit class:"btn btn-primary"%>

<br/>


    
<% end %>

