i<% if reply_errors %>
    <ul>
        <% reply_errors.each do |e| %>
            <li style="color: red"><%= e %>%</li>
        <% end %>
    </ul>
<% end %>

<ul>
<!-- look in post info -->
    <li><% if @post.user == @user %><%= link_to(@post.user_name, user_path(@post.user)) %><% else %><%= link_to(@post.user_name, profile_path(@post.user))%><% end %></li><br/>
    <li><%= @post.content %></li>       <%= @post.post_age %>
    <li><% if @post.image %><%= image_tag(@post.image) %><% end %></li>
    <li><% if @post.emoticon %><%= @post.emoticon_image %><% end %></li>
<br/>
<%= button_to "Delete Post", posts_path, method: :get, class: "btn btn-outline-primary"%>

<!-- look in post info -->
<%= link_to(@user.name, user_path(@user)) %><br/>
    <%= form_with model: @comment do |f| %>
        <%= f.label :comment %>
        <%= f.text_area :message %><br/>
        <%= f.label :hashtag %>
        <%= f.text_field :hashtag %>
        <input type=hidden name=comment[post_id] value='<%= @post.id %>'>
        <input type=hidden name=comment[user_id] value='<%= @user.id %>'>

        <%= f.submit 'Comment!' %>
    <% end %>
<br/>

<p>Comments:<p>
<% @post.comments.each do |comment| %><br/>
    <li>
        <% if comment.user_image %><%= image_tag(comment.user_image) %><% end %>   <%= comment.comment_age %>
        <% if comment.user == @user %><%= link_to(comment.user_name, user_path(comment.user)) %><% else %><%= link_to(comment.user_name, profile_path(comment.user))%><% end %>
    </li>
    <%= comment.message %>

    <%= form_with model: @reply do |f| %>
        <%= f.text_area :content %>
            <input type=hidden name=reply[post_id] value='<%= @post.id %>'>
            <input type=hidden name=reply[comment_id] value='<%= comment.id %>'>
            <input type=hidden name=reply[user_id] value='<%= @user.id %>'>
        <%= f.submit 'reply' %>
    <% end %>

    Replies:
        <% comment.replies.each do |reply| %></p>
            <% if reply.user == @user %><%= link_to(reply.user_name, user_path(reply.user)) %><% else %><%= link_to(reply.user_name, profile_path(reply.user))%><% end %>    <%= reply.reply_age %>
            <% if reply.user == @user %><% link_to(image_tag(reply.user_image), user_path(reply.user)) %><% else %><%= link_to( image_tag(reply.user_image), profile_path(reply.user))%><% end %>
            <br/>
            <%= reply.content %>
        <% end %><br/>
<% end %>
</ul>

